body {
  background-color: #f4f4f4;
}

p {
  margin: 0px
}
.top{
  background-color: blue;
}

.main{
}

.left{
  background-color: tomato;
  display: inline-block;
  float: left;
  width: 180px;
  height: 400px;
  padding: 10px;
}
.right{
  background-color: purple;
  width: 580px;
  height: 400px;
  display: inline-block;
  float: right;
  padding: 10px;
}
.bottom{
  background-color: brown;
}
.parent_container{
  width: 800px;
  margin:auto;
}
